<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.media.video_meeting.dao.SolutionMapper" >

  <update id="updateByName">
    update solution
    set solutionname = #{newname}
    where solutionname = #{oldname}
  </update>

  <delete id="deleteByName">
    delete from solution where solutionname = #{name}
  </delete>
</mapper>