<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContentType() + '/resources_webcon/'}"/>
    <meta charset="UTF-8">
    <title>消防报警</title>
    <link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <style>
        .btn-large-dim {
            width: 80px;
            height: 80px;
            font-size: 10px;
            margin-bottom: 0px;
        }

        /*.left_content1 {
            height: 300px;
        }

        .left_content2 {
            height: 300px;
        }

        .right_content {
            height: 600px;
        }*/
    </style>


    <!--引入webuploader-->
    <link rel="stylesheet" type="text/css" href="widget/webuploader/webuploader.css">
    <script type="text/javascript" src="widget/webuploader/webuploader.min.js"></script>
    <script type="text/javascript" src="myjs/upload.js"></script>

    <!-- 引入ztree -->
    <link rel="stylesheet" href="widget/zTree/zTreeStyle/zTreeStyle.css"/>
    <script type="text/javascript" src="widget/zTree/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="myjs/tree.js"></script>

    <script type="text/javascript" src="myjs/task.js"></script>

    <script th:inline="javascript">
        $(function () {

            //动态计算高度
            autoHeight();

            //初始化任务列表
            initTaskList();

        });


        //获得所有在线设备
        function initOnLineClient(data){

            var userids = new Array();

            var html = "";
            A:for(var i = 0; i < data.length; i++){
                if(data[i].isClient == 1){

                    for(var j = 0; j < userids.length; j++){
                        if(userids[j] == data[i].userid){
                            continue A;
                        }
                    }

                    userids.push(data[i].userid);


                    html += "<option value='" + data[i].userid + "'>" + data[i].gname + "</option>";
                }
            }

            $("#externalFireTerminal").html(html);
        }

        /**
         * 初始化任务列表
         */
        var tasks;

        function initTaskList() {
            $.ajax({
                url: [[${#request.getContextPath()}]] + "/web/task/list",
                data: {"taskt": 3},
                success: function (data) {
                    if (data) {
                        tasks = data;
                        var html = "";
                        for (var i = 0; i < data.length; i++) {
                            html += "<tr id='tr_task_" + data[i].id + "' taskid='" + data[i].id + "' taskidstr='" + data[i].taskid + "' onclick='trtask(" + data[i].id + ");'>";
                            html += "<td>" + data[i].taskname + "</td>";
                            html += "<td id='task_status_' + data[i].id>";
                            if(data[i].status == 0){
                                html += "任务空闲";
                            } else if(data[i].status == 1){
                                html += "执行中";
                            } else if(data[i].status == 2){
                                html += "停止";
                            } else if(data[i].status == 3){
                                html += "等待中";
                            }
                            html += "</td>";
                            html += "<td>" + data[i].port + "</td>";
                            html += "<td>" + data[i].area + "</td>";
                            html += "<td>" + (data[i].isLevel == 1 ? '开启' : '关闭') + "</td>";
                            html += "<td>" + data[i].mp3 + "</td>";
                            html += "<td>" + data[i].users + "</td>";
                            html += "</tr>";
                        }

                        $("#task_list").html(html);
                    }
                },
                dataType: "json"
            });
        }

        /**
         * 点击行
         */
        function trtask(taskid) {
            $("tr[id^='tr_task_']").css("background-color", "");
            $("tr[id^='tr_task_']").attr("alt", "");
            $("#tr_task_" + taskid).css("background-color", "#f1f1f1");
            $("#tr_task_" + taskid).attr("alt", "del");

            //根据任务id查询相应的任务
            $.get([[${#request.getContextPath()}]] + "/web/task/info", {"tid": taskid}, function (data) {
                var mp3s = data.mp3;
                if (mp3s) {
                    var html = "";
                    for (var i = 0; i < mp3s.length; i++) {
                        html += "<tr><td>" + mp3s[i] + "</td></tr>";
                    }
                    $("#mp3_list").html(html);
                }

                var clients = data.clients;
                if (clients) {
                    var html = "";
                    for (var i = 0; i < clients.length; i++) {
                        html += "<tr><td>" + clients[i].terminalname + "</td></tr>";
                    }
                    $("#clients_list").html(html);
                }
            }, "json");

        }

        /**
         * 全选终端
         */
        function checkall(flag) {
            ztreeObj.checkAllNodes(flag);
        }

        /**
         * 拷贝任务
         */
        function copy_task() {
            var task = $("[alt='del']")[0];
            if (!task) {
                alert("请选中需要拷贝的任务！");
                return;
            }

            if (confirm("是否确认复制选中的任务？")) {
                var tid = task.getAttribute("taskidstr");

                $.get([[${#request.getContextPath()}]] + "/web/task/copy", {"taskid": tid}, function (data) {
                    if (data) {
                        var html = "";
                        html += "<tr id='tr_task_" + data.id + "' taskid='" + data.id + "' taskidstr='" + data.taskid + "' onclick='trtask(" + data.id + ");'>";
                        html += "<td>" + data.taskname + "</td>";
                        html += "<td>" + data.status + "</td>";
                        html += "<td>" + data.port + "</td>";
                        html += "<td>" + data.area + "</td>";
                        html += "<td>" +(data.isLevel == 2 ? '开启' : '关闭') + "</td>";
                        html += "<td>" + data.mp3 + "</td>";
                        html += "<td>" + data.users + "</td>";
                        html += "</tr>";
                        $("#task_list").append(html);
                    } else {
                        alert("复制失败！");
                    }
                }, "json");
            }
        }

        /**
         * 删除任务
         */
        function delete_task() {
            var task = $("[alt='del']")[0];
            if (!task) {
                alert("请选中需要删除的任务！");
                return;
            }

            if (confirm("是否确认删除选中的任务？")) {
                var tid = task.getAttribute("taskidstr");

                $.get([[${#request.getContextPath()}]] + "/web/task/delete", {"taskid": tid, "taskt":3}, function (data) {
                    if (data > 0) {
                        $("[alt='del']").remove();
                        $("#mp3_list").html("");
                        $("#clients_list").html("");
                    } else {
                        alert("删除失败！");
                    }
                }, "text");


            }
        }


        /**
         * 手动执行
         */
        function action_task() {
            var task = $("[alt='del']")[0];
            if (!task) {
                alert("请选中需要执行的任务！");
                return;
            }

            if (confirm("是否确认执行选中的任务？")) {
                var tid = task.getAttribute("taskidstr");

                $.get([[${#request.getContextPath()}]] + "/web/task/action", {"taskid": tid}, function (data) {
                    if (data) {
                        alert("开始执行！");
                    } else {
                        alert("执行失败！");
                    }
                }, "json");
            }
        }


        /**
         * 手动停止
         */
        function stop_task() {
            var task = $("[alt='del']")[0];
            if (!task) {
                alert("请选中需要停止的任务！");
                return;
            }

            if (confirm("是否确认停止选中的任务？")) {
                var tid = task.getAttribute("taskidstr");

                $.get([[${#request.getContextPath()}]] + "/web/task/stop", {"taskid": tid}, function (data) {
                    if (data) {
                    } else {
                        alert("停止失败！");
                    }
                }, "json");
            }
        }

    </script>

    <!-- 音量选择控件 -->
    <link href="css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <script src="js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>
    <script>
        $("#volume").ionRangeSlider({
            min: 0,
            max: 15,
            from: 0,
            postfix: "",
            prettify: false,
            hasGrid: false
        });


        //开放或者禁用结束时间
        function open_end(flag) {
            if (!flag) {
                $("#endTime").attr("disabled", "disabled");
            } else {
                $("#endTime").removeAttr("disabled");
            }
        }

        //开放或者禁用持续时间
        function open_dur(flag) {
            if (!flag) {
                $("#externalFireTerminal").attr("disabled", "disabled");
            } else {
                $("#externalFireTerminal").removeAttr("disabled");
                alert("开启外部采集，上传的曲目将会无效！");
            }
        }

        //任务类型
        function select_type(value, v) {
            if (value != v) {
                $("input[name='week']").attr("disabled", "disabled");
            } else {
                $("input[name='week']").removeAttr("disabled");
            }
        }

    </script>

    <!-- 日期插件 -->
    <link rel="stylesheet"
          th:href="${#request.getContextPath() + '/resources/widget/My97DatePicker/skin/WdatePicker.css'}"
          type="text/css"/>
    <script type="text/javascript"
            th:src="${#request.getContextPath() + '/resources/widget/My97DatePicker/WdatePicker.js'}"></script>


</head>
<body>
<!-- 顶部 -->
<div class="row border-bottom white-bg dashboard-header myheader" style="padding: 10px 10px 10px 10px">


    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="open_Model();">
        <!-- data-toggle="modal" data-target="#myModal2" -->
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_newtask.png"/><br/>
        新建任务
    </button>
    <!--<button class="btn btn-primary dim btn-large-dim" type="button" onclick="open_update_Model();">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_edittask.png"/><br/>
        编辑任务
    </button>-->
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="isAction(1);">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_edittask.png"/><br/>
        编辑任务
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="isAction(2);">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_deltask.png"/><br/>
        删除任务
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="copy_task();">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_copytask.png"/><br/>
        复制任务
    </button>
    <!--<button class="btn btn-primary dim btn-large-dim" type="button" onclick="delete_task();">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_deltask.png"/><br/>
        删除任务
    </button>-->
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="action_task();">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_play.png"/><br/>
        手动执行
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="stop_task();">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_stop.png"/><br/>
        手动停止
    </button>
</div>
<!-- 工作区 -->
<div class="animated fadeInRight">
    <div class="row">
        <div class="col-lg-12" style="padding: 0px;">
            <div class="ibox float-e-margins">
                <div class="ibox-content  h_1" style="padding: 0px;">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>任务名称</th>
                            <th>任务状态</th>
                            <th>端口号</th>
                            <th>报警区域</th>
                            <th>邻层报警</th>
                            <th>报警曲目</th>
                            <th>报警终端</th>
                           <!-- <th>播放类型</th>
                            <th>任务音量</th>
                            <th>任务进度</th>-->
                        </tr>
                        </thead>
                        <tbody id="task_list">
                        <!-- TODO 任务列表 -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .checkbox-primary {
        float: left;
        margin-left: 10px;
    }

    .my-sroll {
        overflow: scroll;
        overflow-y: auto;
        overflow-x: auto;
    }

</style>

<!-- 弹出框 -->
<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 70%">
        <!-- animated bounceInRight -->
        <!-- animated flipInY -->
        <div class="modal-content animated flipInY">
            <!-- 头部信息 -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">消防报警</h4>
            </div>
            <!-- 内容部分 -->
            <div class="modal-body" style="padding: 0px">
                <div class="row" style="margin: 0px;">
                    <div class="col-lg-4" style="padding: 4px;">
                        <div class="ibox float-e-margins" style="margin-bottom: 0px">
                            <div class="ibox-content" style="position: relative; height: 500px;">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">任务名称</label>
                                        <div class="col-lg-9">
                                            <input type="text" id="taskname" placeholder="任务名称" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">报警区域</label>
                                        <div class="col-lg-9">
                                            <input type="text" id="area" placeholder="报警区域" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">报警触发设备</label>
                                        <div class="col-lg-9">
                                            <select id="fireTerminal" class="select2_demo_1 form-control">
                                                <option value="1">报警终端(网络)</option>
                                                <option value="2">报警矩阵(串口)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">报警设备端口</label>
                                        <div class="col-lg-9">
                                            <input id="port" type="text" placeholder="设备端口" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">开启邻层报警</label>
                                        <div class="col-lg-9">
                                            <select id="isLevel" class="select2_demo_1 form-control">
                                                <option value="1">关闭</option>
                                                <option value="2">开启</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">指定外部报警音源</label>
                                        <div class="col-lg-6">
                                            <div class="col-lg-9">
                                                <select id="externalFireTerminal" class="select2_demo_1 form-control" disabled="disabled">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="checkbox checkbox-primary">
                                                <input id="isExternalMusic" type="checkbox"
                                                       onclick="open_dur(this.checked);">
                                                <label for="isExternalMusic">
                                                    开启
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" style="padding: 4px;">
                        <div class="ibox float-e-margins" style="margin-bottom: 0px">
                            <div class="ibox-content" style="position: relative; height: 500px;">
                                <!-- 音乐上传 -->
                                <div class="btns">
                                    <button id="picker" type="button" class="btn btn-w-m btn-info">选择文件</button>
                                    <button id="upload_btn" class="btn btn-w-m btn-primary" onclick="start_upload();">
                                        开始上传
                                    </button>
                                </div>
                                <div class="ibox-content"
                                     style="padding-left: 0px; padding-right: 0px; padding-top: 10px; height: 400px; overflow:scroll; overflow-y: auto; overflow-x: auto;">

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th colspan="2">上传列表</th>
                                        </tr>
                                        </thead>
                                        <tbody id="upload_list">
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <!--<select id="loopType" class="form-control m-b" name="loopType">
                                        <option value="0">随机播放</option>
                                        <option value="1">循环播放</option>
                                        <option value="2">顺序播放</option>
                                    </select>-->
                                    <!--<label>
                                        <input type="radio" checked="checked" value="0" name="loopType">
                                        随机播放
                                    </label>
                                    <label style="margin-left: 20px">
                                        <input type="radio" checked="checked" value="1" name="loopType">
                                        循环播放
                                    </label>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" style="padding: 4px">
                        <div class="ibox float-e-margins" style="margin-bottom: 0px">
                            <div class="ibox-content my-sroll" style="height: 500px;">
                                <!-- 分控选择 -->
                                <form role="form" class="form-inline">
                                    <div class="form-group">
                                        <!-- <input type="text" placeholder="任务标识" id="taskname"
                                                class="form-control" style="width: 160px">-->
                                        <span style="width: 160px;">终端选择</span>
                                    </div>
                                    <div class="checkbox m-r-xs">
                                        <input type="checkbox" id="checkbox1" onclick="checkall(this.checked);">
                                        <label for="checkbox1">
                                            全选
                                        </label>
                                    </div>
                                </form>

                                <!-- 树形选择器 -->
                                <div id="ztree_div" class="ztree"
                                     style="height: 430px; overflow:scroll; overflow-y: auto; overflow-x: auto;"></div>
                            </div>
                        </div>
                        <!--<div class="ibox float-e-margins" style="margin-bottom: 0px;">
                            <div class="ibox-content" style="height: 160px;">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" style="padding-right: 0px">音量管理</label>
                                        <div class="col-lg-9">
                                            <label class="checkbox-inline"
                                                   style="width: 60%; margin-left: 0px; padding-left: 10px">
                                                <div id="volume"></div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" style="padding-right: 0px">星期选择</label>
                                        <div class="col-lg-9">
                                            &lt;!&ndash; 星期选择 &ndash;&gt;
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox2" name="week" type="checkbox" value="2"
                                                       disabled="disabled">
                                                <label for="checkbox2">
                                                    星期一
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox3" name="week" type="checkbox" value="4"
                                                       disabled="disabled">
                                                <label for="checkbox3">
                                                    星期二
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox4" name="week" type="checkbox" value="8"
                                                       disabled="disabled">
                                                <label for="checkbox4">
                                                    星期三
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox5" name="week" type="checkbox" value="16"
                                                       disabled="disabled">
                                                <label for="checkbox5">
                                                    星期四
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox6" name="week" type="checkbox" value="32"
                                                       disabled="disabled">
                                                <label for="checkbox6">
                                                    星期五
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox7" name="week" type="checkbox" value="64"
                                                       disabled="disabled">
                                                <label for="checkbox7">
                                                    星期六
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox8" name="week" type="checkbox" value="128"
                                                       disabled="disabled">
                                                <label for="checkbox8">
                                                    星期日
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
            <!-- 底部按钮 -->
            <div class="modal-footer">
                <button type="button" id="submitBtn" class="btn btn-primary" onclick="submit_task();">提交</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">

    /**
     * 打开弹出框
     */
    function open_Model() {
        //初始化树形结构
        initClients(function(data){
            //初始化采集设备列表
            initOnLineClient(data);
        });
        //重置上传
        resetUpload();

        //重置表单
        reset_Model(3);

        //显示弹出框
        // $("#myModal2").modal('show');
        $("#myModal2").modal({backdrop: 'static', keyboard: false});

        //延迟刷新上传控件
        setTimeout(function () {
            uploader.refresh();
        }, 500);

        //设置按钮的点击事件
        $("#submitBtn").attr("onclick", "submit_task();");
    }

    /**
     * 提交任务
     */
    function submit_task() {
        //获得任务名称
        taskname = $("#taskname").val();

        //获得报警区域
        area = $("#area").val();

        //获得报警触发设备
        var fireTerminal = $("#fireTerminal").val();
        //获得端口
        port = $("#port").val();


        //获得邻层报警
        var isLevel = $("#isLevel").val();
        //获得指定外部音源
        isExternalMusic = $("#isExternalMusic:checked").val();
        //获得外部报警设备
        var externalFireTerminal = $("#externalFireTerminal").val();

        //获得被选择的终端
        var znodes = ztreeObj.getCheckedNodes(true);
        terminal = [];
        A:for (var i = 0; i < znodes.length; i++) {
            if (znodes[i].isClient == 1) {
                for(var j = 0; j < terminal.length; j++){
                    if(terminal[j] == znodes[i].userid){
                        continue A;
                    }
                }
                //如果是终端
                terminal.push(znodes[i].userid);
            }
        }

        //表单验证
        if(!check_Form(3)){
            return;
        }



        // alert("任务名称：" + taskname);
        // alert("循环类型：" + loopType);
        // alert("终端列表：" + JSON.stringify(terminal));
        // alert("上传列表：" + JSON.stringify(files));

        //ajax提交任务
        $.ajax({
            type: "POST",
            url: [[${#request.getContextPath()}]] + '/web/task/insert',
            data: {
                "mp3": JSON.stringify(files),
                "users": JSON.stringify(terminal),
                "taskname": taskname,
                "area": area,
                "fireTerminal": fireTerminal,
                "taskt": 3,
                "port": port,
                "isLevel": isLevel,
                "isExternalMusic": isExternalMusic ? 1 : 0,
                "externalFireTerminal": externalFireTerminal
            },
            success: function (data) {
                //发送websocket
                console.log(data);

                var html = fireHtml(data);
                $("#task_list").append(html);

                //关闭弹窗
                $("#myModal2").modal("hide");
            },
            error: function (data) {
                alert("任务添加失败！");
            }
        });
    }

    /**
     * 弹出修改任务的弹出框
     */
    function open_update_Model(){
        var task = $("[alt='del']")[0];
        if(!task){
            alert("请选中需要编辑的任务！");
            return;
        }

        var tid = task.getAttribute("taskidstr");

        //弹出框
        open_Model();

        $.get([[${#request.getContextPath()}]] + "/web/task/queryTask", {"taskid":tid}, function(data){
            if(data){
                //设置默认值
                console.log(JSON.stringify(data));

                //回显数据
                showData(data, 5);
            }
        },"json");

        //设置按钮的点击事件
        $("#submitBtn").attr("onclick", "update_task('" + tid + "');");
    }

    //修改
    function update_task(tid){
        //获得任务名称
        var taskname = $("#taskname").val();
        //获得报警区域
        var area = $("#area").val();
        //获得报警触发设备
        var fireTerminal = $("#fireTerminal").val();
        //获得端口
        var port = $("#port").val();
        //获得邻层报警
        var isLevel = $("#isLevel").val();
        //获得指定外部音源
        var isExternalMusic = $("#isExternalMusic:checked").val();
        //获得外部报警设备
        var externalFireTerminal = $("#externalFireTerminal").val();


        //获得被选择的终端
        var znodes = ztreeObj.getCheckedNodes(true);
        var terminal = [];
        A:for (var i = 0; i < znodes.length; i++) {
            if (znodes[i].isClient == 1) {
                for(var j = 0; j < terminal.length; j++){
                    if(terminal[j] == znodes[i].userid){
                        continue A;
                    }
                }
                //如果是终端
                terminal.push(znodes[i].userid);
            }
        }

        // alert("任务名称：" + taskname);
        // alert("循环类型：" + loopType);
        // alert("终端列表：" + JSON.stringify(terminal));
        // alert("上传列表：" + JSON.stringify(files));

        //ajax提交任务
        $.ajax({
            type: "POST",
            url: [[${#request.getContextPath()}]] + '/web/task/update',
            data: {
                "mp3": JSON.stringify(files),
                "users": JSON.stringify(terminal),
                "taskname": taskname,
                "area": area,
                "fireTerminal": fireTerminal,
                "taskt": 3,
                "port": port,
                "isLevel": isLevel,
                "isExternalMusic": isExternalMusic ? 1 : 0,
                "externalFireTerminal": externalFireTerminal,
                "taskid": tid
            },
            success: function (data) {
                //发送websocket
                console.log(data);

                //移除原来的节点
                $("#tr_task_" + data.id).remove();

                var html = fireHtml(data);
                $("#task_list").append(html);

                //关闭弹窗
                $("#myModal2").modal("hide");
            },
            error: function (data) {
                alert("任务添加失败！");
            }
        });
    }

</script>

</body>
</html>