<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContentType() + '/resources_webcon/'}"/>
    <meta charset="UTF-8">
    <title>定时音乐</title>
    <link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <style>
        .btn-large-dim {
            width: 80px;
            height: 80px;
            font-size: 10px;
            margin-bottom: 0px;
        }

        /*.left_content1 {
            height: 300px;
        }

        .left_content2 {
            height: 300px;
        }

        .right_content {
            height: 600px;
        }*/
    </style>


    <!--引入webuploader-->
    <link rel="stylesheet" type="text/css" href="widget/webuploader/webuploader.css">
    <script type="text/javascript" src="widget/webuploader/webuploader.min.js"></script>
    <script type="text/javascript" src="myjs/upload.js"></script>

    <!-- 引入ztree -->
    <link rel="stylesheet" href="widget/zTree/zTreeStyle/zTreeStyle.css"/>
    <script type="text/javascript" src="widget/zTree/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="myjs/tree.js"></script>


    <script th:inline="javascript">
        $(function () {

            //动态计算高度
            autoHeight();

            //获取方案列表
            initSolutionList();

            //初始化任务列表
            initTaskList();

        });


        /**
         * 打开弹出框 - 新建方案
         */
        function create_Solution() {
            //显示弹出框
            $("#myModal3").modal('show');
        }

        /**
         * 编辑方案
         */
        function edit_Solution(){
            //显示弹出框
            $("#myModal4").modal('show');

            //获得旧的方案名称
            var oldname = $("#solution_select").val();

            //设置旧名称
            $("#solutionname2").val(oldname);
        }

        /**
         * 初始化树形结构
         */
        var ztreeObj;

        function initClients() {
            $.ajax({
                url: [[${#request.getContextPath()}]] + "/client/group",
                success: function (data) {
                    var zTreeNodes = data;

                    var setting = {
                        data: {
                            simpleData: {
                                enable: true,
                                pIdKey: "pid"
                            },
                            key: {
                                name: "gname"
                            }
                        },
                        check: {
                            enable: true
                        }
                    };

                    ztreeObj = $.fn.zTree.init($("#ztree_div"), setting, zTreeNodes);
                    ztreeObj.expandAll(true);
                },
                dataType: "json"
            });
        }

        /**
         * 初始化任务列表
         */
        var tasks;

        function initTaskList() {

            //获得方案
            var solution = $("#solution_select").val();

            $.ajax({
                url: [[${#request.getContextPath()}]] + "/web/task/timelist",
                data: {"taskt": 1, "solution": solution},
                success: function (data) {
                    if (data) {
                        tasks = data;
                        var html = "";
                        for (var i = 0; i < data.length; i++) {
                            html += "<tr id='tr_task_" + data[i].id + "' taskid='" + data[i].id + "' taskidstr='" + data[i].taskid + "' onclick='trtask(" + data[i].id + ");'>";
                            html += "<td>" + data[i].taskname + "</td>";
                            html += "<td>" + data[i].status + "</td>";
                            html += "<td>" + data[i].startDate + "</td>";
                            html += "<td>" + data[i].duration + "</td>";
                            html += "<td>" + data[i].stopDate + "</td>";
                            html += "<td>" + data[i].playOrder + "</td>";
                            html += "<td>" + data[i].volume + "</td>";
                            html += "<td></td>";
                            html += "</tr>";
                        }

                        $("#task_list").html(html);
                    }
                },
                dataType: "json"
            });
        }

        /**
         * 获得方案列表
         */
        function initSolutionList() {
            $.ajax({
                url: [[${#request.getContextPath()}]] + "/web/solution/list",
                data: {},
                success: function (data) {
                    var html = "";
                    for (var i = 0; i < data.length; i++) {

                        if (i == 0) {
                            $("#solution_default").html(data[i].solutionname);
                        }

                        html += "<option value='" + data[i].solutionname + "'>" + data[i].solutionname + "</option>";
                    }
                    $("#solution_select").html(html);
                },
                dataType: "json"
            });
        }

        /**
         * 点击行
         */
        function trtask(taskid) {
            $("tr[id^='tr_task_']").css("background-color", "");
            $("tr[id^='tr_task_']").attr("alt", "");
            $("#tr_task_" + taskid).css("background-color", "#f1f1f1");
            $("#tr_task_" + taskid).attr("alt", "del");

            //根据任务id查询相应的任务
            $.get([[${#request.getContextPath()}]] + "/web/task/info", {"tid": taskid}, function (data) {
                var mp3s = data.mp3;
                if (mp3s) {
                    var html = "";
                    for (var i = 0; i < mp3s.length; i++) {
                        html += "<tr><td>" + mp3s[i] + "</td></tr>";
                    }
                    $("#mp3_list").html(html);
                }

                var clients = data.clients;
                if (clients) {
                    var html = "";
                    for (var i = 0; i < clients.length; i++) {
                        html += "<tr><td>" + clients[i].terminalname + "</td></tr>";
                    }
                    $("#clients_list").html(html);
                }
            }, "json");

        }

        /**
         * 全选终端
         */
        function checkall(flag) {
            ztreeObj.checkAllNodes(flag);
        }

        /**
         * 删除任务
         */
        function delete_task() {
            var task = $("[alt='del']")[0];
            if (!task) {
                alert("请选中需要删除的任务！");
                return;
            }

            if (confirm("是否确认删除选中的任务？")) {
                var tid = task.getAttribute("taskidstr");

                $.get([[${#request.getContextPath()}]] + "/web/task/delete", {"taskid": tid, "taskt":1}, function (data) {
                    if (data > 0) {
                        $("[alt='del']").remove();
                        $("#mp3_list").html("");
                        $("#clients_list").html("");
                    } else {
                        alert("删除失败！");
                    }
                }, "text");


            }
        }

        /**
         * 拷贝任务
         */
        function copy_task() {
            var task = $("[alt='del']")[0];
            if (!task) {
                alert("请选中需要拷贝的任务！");
                return;
            }

            if (confirm("是否确认复制选中的任务？")) {
                var tid = task.getAttribute("taskidstr");

                $.get([[${#request.getContextPath()}]] + "/web/task/copy", {"taskid": tid}, function (data) {
                    if (data) {
                        var html = "";
                        html += "<tr id='tr_task_" + data.id + "' taskid='" + data.id + "' taskidstr='" + data.taskid + "' onclick='trtask(" + data.id + ");'>";
                        html += "<td>" + data.taskname + "</td>";
                        html += "<td>" + data.status + "</td>";
                        html += "<td>" + data.startDate + "</td>";
                        html += "<td>" + data.duration + "</td>";
                        html += "<td>" + data.stopDate + "</td>";
                        html += "<td>" + data.loopType + "</td>";
                        html += "<td>" + data.volume + "</td>";
                        html += "<td></td>";
                        html += "</tr>";

                        $("#task_list").append(html);
                    } else {
                        alert("复制失败！");
                    }
                }, "json");
            }
        }

        /**
         * 手动执行
         */
        function action_task() {
            var task = $("[alt='del']")[0];
            if (!task) {
                alert("请选中需要执行的任务！");
                return;
            }

            if (confirm("是否确认执行选中的任务？")) {
                var tid = task.getAttribute("taskidstr");

                $.get([[${#request.getContextPath()}]] + "/web/task/action", {"taskid": tid}, function (data) {
                    if (data) {
                        alert("开始执行！");
                    } else {
                        alert("执行失败！");
                    }
                }, "json");
            }
        }

        /**
         * 手动暂停
         */
        function pause_task() {
            var task = $("[alt='del']")[0];
            if (!task) {
                alert("请选中需要暂停的任务！");
                return;
            }

            if (confirm("是否确认暂停选中的任务？")) {
                var tid = task.getAttribute("taskidstr");

                $.get([[${#request.getContextPath()}]] + "/web/task/pause", {"taskid": tid}, function (data) {
                    if (data) {
                    } else {
                        alert("暂停失败！");
                    }
                }, "json");
            }
        }

        /**
         * 手动停止
         */
        function stop_task() {
            var task = $("[alt='del']")[0];
            if (!task) {
                alert("请选中需要停止的任务！");
                return;
            }

            if (confirm("是否确认停止选中的任务？")) {
                var tid = task.getAttribute("taskidstr");

                $.get([[${#request.getContextPath()}]] + "/web/task/stop", {"taskid": tid}, function (data) {
                    if (data) {
                    } else {
                        alert("停止失败！");
                    }
                }, "json");
            }
        }

        /**
         * 上一曲
         */
        function pre_task() {
            var task = $("[alt='del']")[0];
            if (!task) {
                alert("请选中需要执行的任务！");
                return;
            }

            var tid = task.getAttribute("taskidstr");

            $.get([[${#request.getContextPath()}]] + "/web/task/pre", {"taskid": tid}, function (data) {
                if (data) {
                } else {
                    alert("执行上一曲失败！");
                }
            }, "json");
        }

        /**
         * 下一曲
         */
        function next_task() {
            var task = $("[alt='del']")[0];
            if (!task) {
                alert("请选中需要执行的任务！");
                return;
            }

            var tid = task.getAttribute("taskidstr");

            $.get([[${#request.getContextPath()}]] + "/web/task/next", {"taskid": tid}, function (data) {
                if (data) {
                } else {
                    alert("执行下一曲失败！");
                }
            }, "json");
        }
    </script>

    <!-- 音量选择控件 -->
    <link href="css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <script src="js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>
    <script>
        $("#volume").ionRangeSlider({
            min: 0,
            max: 15,
            from: 0,
            postfix: "",
            prettify: false,
            hasGrid: false
        });


        //开放或者禁用结束时间
        function open_end(flag) {
            if (!flag) {
                $("#endTime").attr("disabled", "disabled");
            } else {
                $("#endTime").removeAttr("disabled");
            }
        }

        //开放或者禁用持续时间
        function open_dur(flag) {
            if (!flag) {
                $("#durtime").attr("disabled", "disabled");
            } else {
                $("#durtime").removeAttr("disabled");
            }
        }

        //任务类型
        function select_type(value, v) {
            if (value != v) {
                $("input[name='week']").attr("disabled", "disabled");
            } else {
                $("input[name='week']").removeAttr("disabled");
            }
        }

        //选择方案
        function selectSolution() {
            //获得任务列表
            initTaskList();
        }

    </script>

    <!-- 日期插件 -->
    <link rel="stylesheet"
          th:href="${#request.getContextPath() + '/resources/widget/My97DatePicker/skin/WdatePicker.css'}"
          type="text/css"/>
    <script type="text/javascript"
            th:src="${#request.getContextPath() + '/resources/widget/My97DatePicker/WdatePicker.js'}"></script>


</head>
<body>
<!-- 顶部 -->
<div class="row border-bottom white-bg dashboard-header myheader" style="padding: 10px 10px 10px 10px">


    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="open_Model();">
        <!-- data-toggle="modal" data-target="#myModal2" -->
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_newtask.png"/><br/>
        新建任务
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="open_update_Model();">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_edittask.png"/><br/>
        编辑任务
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="delete_task();">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_deltask.png"/><br/>
        删除任务
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="copy_task();">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_copytask.png"/><br/>
        复制任务
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="action_task();">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_play.png"/><br/>
        手动执行
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="pause_task();">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_pause.png"/><br/>
        手动暂停
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="stop_task();">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_stop.png"/><br/>
        手动停止
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="create_Solution();">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_newfangan.png"/><br/>
        新建方案
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="edit_Solution();">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_editfangan.png"/><br/>
        编辑方案
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="exec_Solution();">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_playfangan.png"/><br/>
        执行方案
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="delete_Solution();">
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="icon/dsyy_delfangan.png"/><br/>
        删除方案
    </button>
</div>
<!-- 工作区 -->
<div class="animated fadeInRight">
    <div class="row">
        <div class="col-lg-12" style="padding: 0px;">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>当前执行方案：<span id="solution_default">默认方案</span>
                        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                        方案选择：
                        <select id="solution_select" onchange="selectSolution();">

                        </select></h5>
                </div>
                <div class="ibox-content  h_1" style="padding: 0px;">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>任务名称</th>
                            <th>任务状态</th>
                            <th>开始时间</th>
                            <th>持续时间</th>
                            <th>结束时间</th>
                            <th>播放类型</th>
                            <th>任务音量</th>
                            <th>任务进度</th>
                        </tr>
                        </thead>
                        <tbody id="task_list">
                        <!-- TODO 任务列表 -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .checkbox-primary {
        float: left;
        margin-left: 10px;
    }

    .my-sroll {
        overflow: scroll;
        overflow-y: auto;
        overflow-x: auto;
    }

</style>

<!-- 弹出框 -->
<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 70%">
        <!-- animated bounceInRight -->
        <!-- animated flipInY -->
        <div class="modal-content animated flipInY">
            <!-- 头部信息 -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">定时音乐</h4>
            </div>
            <!-- 内容部分 -->
            <div class="modal-body" style="padding: 0px">
                <div class="row" style="margin: 0px;">
                    <div class="col-lg-4" style="padding: 4px;">
                        <div class="ibox float-e-margins" style="margin-bottom: 0px">
                            <div class="ibox-content" style="position: relative; height: 500px;">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">任务名称</label>
                                        <div class="col-lg-9">
                                            <input type="text" id="taskname" placeholder="任务名称" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">任务类型</label>
                                        <div class="col-lg-9">
                                            <select id="playOrder" class="select2_demo_1 form-control"
                                                    onclick="select_type(this.value, 2);">
                                                <option value="1">每天任务</option>
                                                <option value="2">每周任务</option>
                                                <option value="3">一次任务</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">开始日期</label>
                                        <div class="col-lg-9">
                                            <input id="startDate" type="text" placeholder="开始日期" class="form-control"
                                                   onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">开始时间</label>
                                        <div class="col-lg-9">
                                            <input id="startTime" type="text" placeholder="开始时间" class="form-control"
                                                   onclick="WdatePicker({dateFmt:'HH:mm'})">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">结束时间</label>
                                        <div class="col-lg-6">
                                            <input id="endTime" type="text" placeholder="结束时间" class="form-control"
                                                   onclick="WdatePicker({dateFmt:'HH:mm'})" disabled="disabled">
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox_end" type="checkbox"
                                                       onclick="open_end(this.checked);">
                                                <label for="checkbox_end">
                                                    开启
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">持续时间</label>
                                        <div class="col-lg-6">
                                            <input type="text" id="durtime" placeholder="持续时间" class="form-control"
                                                   disabled="disabled">
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox_dur" type="checkbox"
                                                       onclick="open_dur(this.checked);">
                                                <label for="checkbox_dur">
                                                    开启
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">提前开启</label>
                                        <div class="col-lg-9">
                                            <input id="start" type="text" placeholder="提前开启" class="form-control"
                                                   onclick="WdatePicker({dateFmt:'ss'})">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" style="padding: 4px;">
                        <div class="ibox float-e-margins" style="margin-bottom: 0px">
                            <div class="ibox-content" style="position: relative; height: 500px;">
                                <!-- 音乐上传 -->
                                <div class="btns">
                                    <button id="picker" type="button" class="btn btn-w-m btn-info">选择文件</button>
                                    <button id="upload_btn" class="btn btn-w-m btn-primary" onclick="start_upload();">
                                        开始上传
                                    </button>
                                </div>
                                <div class="ibox-content"
                                     style="padding-left: 0px; padding-right: 0px; padding-top: 10px; height: 400px; overflow:scroll; overflow-y: auto; overflow-x: auto;">

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th colspan="2">上传列表</th>
                                        </tr>
                                        </thead>
                                        <tbody id="upload_list">
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <select id="loopType" class="form-control m-b" name="loopType">
                                        <option value="0">随机播放</option>
                                        <option value="1">循环播放</option>
                                        <option value="2">顺序播放</option>
                                    </select>
                                    <!--<label>
                                        <input type="radio" checked="checked" value="0" name="loopType">
                                        随机播放
                                    </label>
                                    <label style="margin-left: 20px">
                                        <input type="radio" checked="checked" value="1" name="loopType">
                                        循环播放
                                    </label>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" style="padding: 4px">
                        <div class="ibox float-e-margins" style="margin-bottom: 0px">
                            <div class="ibox-content my-sroll" style="height: 340px;">
                                <!-- 分控选择 -->
                                <form role="form" class="form-inline">
                                    <div class="form-group">
                                        <!-- <input type="text" placeholder="任务标识" id="taskname"
                                                class="form-control" style="width: 160px">-->
                                        <span style="width: 160px;">终端选择</span>
                                    </div>
                                    <div class="checkbox m-r-xs">
                                        <input type="checkbox" id="checkbox1" onclick="checkall(this.checked);">
                                        <label for="checkbox1">
                                            全选
                                        </label>
                                    </div>
                                </form>

                                <!-- 树形选择器 -->
                                <div id="ztree_div" class="ztree"
                                     style="height: 430px; overflow:scroll; overflow-y: auto; overflow-x: auto;"></div>
                            </div>
                        </div>
                        <div class="ibox float-e-margins" style="margin-bottom: 0px;">
                            <div class="ibox-content" style="height: 160px;">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" style="padding-right: 0px">音量管理</label>
                                        <div class="col-lg-9">
                                            <label class="checkbox-inline"
                                                   style="width: 60%; margin-left: 0px; padding-left: 10px">
                                                <div id="volume"></div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" style="padding-right: 0px">星期选择</label>
                                        <div class="col-lg-9">
                                            <!-- 星期选择 -->
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox2" name="week" type="checkbox" value="2"
                                                       disabled="disabled">
                                                <label for="checkbox2">
                                                    星期一
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox3" name="week" type="checkbox" value="4"
                                                       disabled="disabled">
                                                <label for="checkbox3">
                                                    星期二
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox4" name="week" type="checkbox" value="8"
                                                       disabled="disabled">
                                                <label for="checkbox4">
                                                    星期三
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox5" name="week" type="checkbox" value="16"
                                                       disabled="disabled">
                                                <label for="checkbox5">
                                                    星期四
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox6" name="week" type="checkbox" value="32"
                                                       disabled="disabled">
                                                <label for="checkbox6">
                                                    星期五
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox7" name="week" type="checkbox" value="64"
                                                       disabled="disabled">
                                                <label for="checkbox7">
                                                    星期六
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox8" name="week" type="checkbox" value="128"
                                                       disabled="disabled">
                                                <label for="checkbox8">
                                                    星期日
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 底部按钮 -->
            <div class="modal-footer">
                <button type="button" id="submitBtn"  class="btn btn-primary" onclick="submit_task();">提交</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<!-- 新建方案弹出框 -->
<div class="modal inmodal" id="myModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 30%">
        <div class="modal-content animated flipInY">
            <!-- 头部信息 -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">新建方案</h4>
            </div>
            <!-- 内容部分 -->
            <div class="modal-body" style="padding: 20px">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">方案名称</label>
                        <div class="col-lg-10">
                            <input id="solutionname" type="text" placeholder="请输入方案名称" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <!-- 底部按钮 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="submit_solution();">提交</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 编译方案弹出框 -->
<div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 30%">
        <div class="modal-content animated flipInY">
            <!-- 头部信息 -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">编译方案</h4>
            </div>
            <!-- 内容部分 -->
            <div class="modal-body" style="padding: 20px">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">方案名称</label>
                        <div class="col-lg-10">
                            <input id="solutionname2" type="text" placeholder="请输入方案名称" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <!-- 底部按钮 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="update_solution();">编辑</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    /**
     * 提交方案
     */
    function submit_solution(){
        //获得方案名称
        var solutionName = $("#solutionname").val();

        //提交方案名称
        $.post([[${#request.getContextPath()}]] + "/web/solution/insert", {"solutionname": solutionName}, function(data){
            if(data > 0){
                //
                $("#myModal3").modal('hide');
                $("#solution_select").append("<option value='" + solutionName + "'>" + solutionName + "</option>");
            } else if(data == -1){
                alert("方案名已经存在！");
            } else {
                alert("添加方案失败！");
            }
        });
    }

    /**
     * 修改方案
     */
    function update_solution(){
        //获得旧方案名称
        var oldName = $("#solution_select").val();

        //获得新方案名称
        var solutionName = $("#solutionname2").val();

        //提交方案名称
        $.post([[${#request.getContextPath()}]] + "/web/solution/update", {"solutionname": solutionName, "oldName": oldName}, function(data){
            if(data > 0){
                //
                $("#myModal4").modal('hide');
                var option = $("option[value='" + oldName +"']");
                option.html(solutionName);
                option.attr("value", solutionName);
            } else if(data == -1){
                alert("方案名已经存在！");
            } else {
                alert("修改方案失败！");
            }
        });
    }

    /**
     * 删除方案
     */
    function delete_Solution(){
        //获得当前方案名称
        var solutionname = $("#solution_select").val();

        //提交方案名称
        $.post([[${#request.getContextPath()}]] + "/web/solution/delete", {"solutionname": solutionname}, function(data){
            if(data > 0){
                //
                location.reload();
            } else {
                alert("删除方案失败！");
            }
        });
    }

    /**
     * TODO 执行方案
     */
    function exec_Solution(){
        //获得方案名称
        var solutionname = $("#solution_select").val();

        //提交方案名称
        $.post([[${#request.getContextPath()}]] + "/web/solution/exec", {"solutionname": solutionname}, function(data){
            if(data > 0){
                //
                $("#solution_default").html(solutionname);
            } else {
                alert("执行方案失败！");
            }
        });
    }

    /**
     * 打开弹出框
     */
    function open_Model() {
        //初始化树形结构
        initClients();
        //重置上传
        resetUpload();

        //显示弹出框
        // $("#myModal2").modal('show');
        $("#myModal2").modal({backdrop: 'static', keyboard: false});

        //延迟刷新上传控件
        setTimeout(function () {
            uploader.refresh();
        }, 500);

        //设置按钮的点击事件
        $("#submitBtn").attr("onclick", "submit_task();");
    }

    /**
     * 提交任务
     */
    function submit_task() {
        //获得任务名称
        var taskname = $("#taskname").val();

        if(taskname.trim() == ""){
            alert("任务名称不能为空！");
            return;
        }

        //获得循环类型
        var loopType = $("#loopType").val();
        //获得任务类型
        var playOrder = $("#playOrder").val();
        //获得开始日期
        var startDate = $("#startDate").val();
        if(startDate.trim() == ""){
            alert("开始日期不能为空！");
            return;
        }

        //获得开始时间
        var startTime = $("#startTime").val();
        if(startTime.trim() == ""){
            alert("开始时间不能为空！");
            return;
        }


        //获得结束时间
        var stopDate = $("#endTime").val();
        if($("#endTime").prop("disabled")==false && stopDate.trim() == ""){
            alert("结束时间不能为空！");
            return;
        }


        //获得持续时间
        var duration = $("#durtime").val();
        if($("#durtime").prop("disabled")==false && duration.trim() == ""){
            alert("持续时间不能为空！");
            return;
        }


        //获得提前开始
        var start = $("#start").val() ? $("#start").val() : 0;

        //获得音量
        var volume = $("#volume").attr("value");

        //获得星期
        var weekMask = 0;
        $("input[name='week']:checked").each(function () {
            weekMask += parseInt($(this).val());
        });
        if(parseInt(playOrder) == 2 && weekMask == 0){
            alert("星期选择不能为空！");
            return;
        }

        //
        var solution = $("#solution_select").val();
        if(solution.trim() == ""){
            alert("所选方案不能为空！");
            return;
        }


        //获得被选择的终端
        var znodes = ztreeObj.getCheckedNodes(true);
        var terminal = [];
        for (var i = 0; i < znodes.length; i++) {
            if (znodes[i].isClient == 1) {
                //如果是终端
                terminal.push(znodes[i].userid);
            }
        }
        if(terminal.length <= 0){
            alert("终端选择不能为空！");
            return;
        }



        // alert("任务名称：" + taskname);
        // alert("循环类型：" + loopType);
        // alert("终端列表：" + JSON.stringify(terminal));
        // alert("上传列表：" + JSON.stringify(files));

        //ajax提交任务
        $.ajax({
            type: "POST",
            url: [[${#request.getContextPath()}]] + '/web/task/insert',
            data: {
                "mp3": JSON.stringify(files),
                "users": JSON.stringify(terminal),
                "taskname": taskname,
                "looptype": loopType,
                "taskt": 1,
                "playOrder": playOrder,
                "startDate": startDate,
                "startTime": startTime,
                "stopDate": stopDate,
                "duration": duration,
                "startinadvance": start,
                "volume": volume,
                "weekMask": weekMask,
                "solution": solution
            },
            success: function (data) {
                //发送websocket
                console.log(data);

                var html = "";
                html += "<tr id='tr_task_" + data.id + "' taskid='" + data.id + "' taskidstr='" + data.taskid + "' onclick='trtask(" + data.id + ");'>";
                html += "<td>" + data.taskname + "</td>";
                html += "<td>" + data.status + "</td>";
                html += "<td>" + startDate + "</td>";
                html += "<td>" + data.duration + "</td>";
                html += "<td>" + stopDate + "</td>";
                html += "<td>" + data.playOrder + "</td>";
                html += "<td>" + data.volume + "</td>";
                html += "<td></td>";
                html += "</tr>";
                $("#task_list").append(html);

                //关闭弹窗
                $("#myModal2").modal("hide");
            },
            error: function (data) {
                alert("任务添加失败！");
            }
        });
    }


    /**
     * 弹出修改任务的弹出框
     */
    function open_update_Model(){
        var task = $("[alt='del']")[0];
        if(!task){
            alert("请选中需要编辑的任务！");
            return;
        }

        var tid = task.getAttribute("taskidstr");

        //弹出框
        open_Model();

        $.get([[${#request.getContextPath()}]] + "/web/task/queryTask", {"taskid":tid}, function(data){
            if(data){
                //设置默认值
                console.log(JSON.stringify(data));

                var taskname = data.taskname;
                var looptype = data.looptype;
                var mp3 = data.mp3;
                var users = data.users;
                //获得任务类型
                var playOrder = data.playOrder;
                //获得开始日期
                var startDate = data.startDate;
                //获得开始时间
                var startTime = data.startTime;
                //获得结束时间
                var stopDate = data.stopDate;
                //获得持续时间
                var duration = data.duration;
                //获得提前开始
                var start = data.startinadvance;
                //获得星期几
                var weekMask = data.weekMask;
                //获得音量
                var volume = data.volume;

                //设置默认值
                $("#taskname").val(taskname);
                $("#loopType").val(looptype);
                $("#playOrder").val(playOrder);
                $("#startDate").val(startDate);
                $("#startTime").val(startTime);
                $("#endTime").val(stopDate);
                $("#durtime").val(duration);
                $("#start").val(start);
                showUpdate(mp3);
                showUsers(users);

                //TODO 设置修改的音量
                // var slider = $("#volume").data("ionRangeSlider");
                // slider.update({
                //     from: volume
                // });

                if(stopDate){
                    $("#checkbox_end").attr("checked", true);
                    $("#endTime").removeAttr("disabled");
                } else {
                    $("#checkbox_end").attr("checked", false);
                    $("#endTime").attr("disabled", "disabled");
                }

                if(duration){
                    $("#checkbox_dur").attr("checked", true);
                    $("#durtime").removeAttr("disabled");
                } else {
                    $("#checkbox_dur").attr("checked", false);
                    $("#durtime").attr("disabled", "disabled");
                }

                if(playOrder == 2){
                    $("input[name='week']").each(function(){
                       $(this).removeAttr("disabled");
                    });
                }

            }
        },"json");

        //设置按钮的点击事件
        $("#submitBtn").attr("onclick", "update_task('" + tid + "');");
    }

    //修改
    function update_task(tid){
        //获得任务名称
        var taskname = $("#taskname").val();
        //获得循环类型
        var loopType = $("#loopType").val();
        //获得任务类型
        var playOrder = $("#playOrder").val();
        //获得开始日期
        var startDate = $("#startDate").val();
        //获得开始时间
        var startTime = $("#startTime").val();
        //获得结束时间
        var stopDate = $("#endTime").val();
        //获得持续时间
        var duration = $("#durtime").val() ? $("#durtime").val() : 0;
        //获得提前开始
        var start = $("#start").val() ? $("#start").val() : 0;;

        //获得音量
        var volume = $("#volume").attr("value");
        //获得星期
        var weekMask = 0;
        $("input[name='week']:checked").each(function () {
            weekMask += parseInt($(this).val());
        });

        //
        var solution = $("#solution_select").val();


        //获得被选择的终端
        var znodes = ztreeObj.getCheckedNodes(true);
        var terminal = [];
        for (var i = 0; i < znodes.length; i++) {
            if (znodes[i].isClient == 1) {
                //如果是终端
                terminal.push(znodes[i].userid);
            }
        }

        // alert("任务名称：" + taskname);
        // alert("循环类型：" + loopType);
        // alert("终端列表：" + JSON.stringify(terminal));
        // alert("上传列表：" + JSON.stringify(files));

        //ajax提交任务
        $.ajax({
            type: "POST",
            url: [[${#request.getContextPath()}]] + '/web/task/update',
            data: {
                "mp3": JSON.stringify(files),
                "users": JSON.stringify(terminal),
                "taskname": taskname,
                "looptype": loopType,
                "taskt": 1,
                "playOrder": playOrder,
                "startDate": startDate,
                "startTime": startTime,
                "stopDate": stopDate,
                "duration": duration,
                "startinadvance": start,
                "volume": volume,
                "weekMask": weekMask,
                "solution": solution,
                "taskid": tid
            },
            success: function (data) {
                //发送websocket
                console.log(data);


                //移除原来的节点
                $("#tr_task_" + data.id).remove();

                var html = "";
                html += "<tr id='tr_task_" + data.id + "' taskid='" + data.id + "' taskidstr='" + data.taskid + "' onclick='trtask(" + data.id + ");'>";
                html += "<td>" + data.taskname + "</td>";
                html += "<td>" + data.status + "</td>";
                html += "<td>" + startDate + "</td>";
                html += "<td>" + data.duration + "</td>";
                html += "<td>" + stopDate + "</td>";
                html += "<td>" + data.playOrder + "</td>";
                html += "<td>" + data.volume + "</td>";
                html += "<td></td>";
                html += "</tr>";
                $("#task_list").append(html);

                //关闭弹窗
                $("#myModal2").modal("hide");
            },
            error: function (data) {
                alert("任务添加失败！");
            }
        });
    }
</script>

</body>
</html>