<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContentType() + '/resources_webcon/'}"/>
    <meta charset="UTF-8">
    <title>语音合成</title>
    <link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <style>
        .btn-large-dim {
            width: 80px;
            height: 80px;
            font-size: 10px;
            margin-bottom: 0px;
        }

        /*.left_content1 {
            height: 300px;
        }

        .left_content2 {
            height: 300px;
        }

        .right_content {
            height: 600px;
        }*/
    </style>


    <!-- 引入ztree -->
    <link rel="stylesheet" href="widget/zTree/zTreeStyle/zTreeStyle.css"/>
    <script type="text/javascript" src="widget/zTree/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="myjs/tree.js"></script>


    <script th:inline="javascript">
        $(function () {

            //动态计算高度
            autoHeight();

            //初始化任务列表
            initTaskList();

        });


        /**
         * 初始化任务列表
         */
        var tasks;

        function initTaskList() {
            $.ajax({
                url: [[${#request.getContextPath()}]] + "/web/task/list",
                data: {"taskt": 4},
                success: function (data) {
                    if (data) {
                        tasks = data;
                        var html = "";
                        for (var i = 0; i < data.length; i++) {
                            html += "<tr id='tr_task_" + data[i].id + "' taskid='" + data[i].id + "' taskidstr='" + data[i].taskid + "' onclick='trtask(" + data[i].id + ");'>";
                            html += "<td>" + data[i].taskname + "</td>";
                            html += "<td>" + data[i].status + "</td>";
                            html += "<td>" + data[i].startDate + "</td>";
                            html += "<td>" + data[i].stopDate + "</td>";
                            html += "<td>" + data[i].loopnum + "</td>";
                            if(data[i].reporter == 1){
                                html += "<td>小燕 - 中文（女声）</td>";
                            } else if(data[i].reporter == 2){
                                html += "<td>小琪 - 中文（女声）</td>";
                            } else if(data[i].reporter == 3){
                                html += "<td>小美 - 粤语（女声）</td>";
                            } else if(data[i].reporter == 4){
                                html += "<td>小文 - 中文（男声）</td>";
                            } else if(data[i].reporter == 5){
                                html += "<td>henry - 英文（男声）</td>";
                            } else if(data[i].reporter == 6){
                                html += "<td>mary - 英文（女声）</td>";
                            }

                            html += "</tr>";
                        }

                        $("#task_list").html(html);
                    }
                },
                dataType: "json"
            });
        }

        /**
         * 点击行
         */
        function trtask(taskid) {
            $("tr[id^='tr_task_']").css("background-color", "");
            $("tr[id^='tr_task_']").attr("alt", "");
            $("#tr_task_" + taskid).css("background-color", "#f1f1f1");
            $("#tr_task_" + taskid).attr("alt", "del");

            //根据任务id查询相应的任务
            $.get([[${#request.getContextPath()}]] + "/web/task/info", {"tid": taskid}, function (data) {
                var mp3s = data.mp3;
                if (mp3s) {
                    var html = "";
                    for (var i = 0; i < mp3s.length; i++) {
                        html += "<tr><td>" + mp3s[i] + "</td></tr>";
                    }
                    $("#mp3_list").html(html);
                }

                var clients = data.clients;
                if (clients) {
                    var html = "";
                    for (var i = 0; i < clients.length; i++) {
                        html += "<tr><td>" + clients[i].terminalname + "</td></tr>";
                    }
                    $("#clients_list").html(html);
                }
            }, "json");

        }


        /**
         * 删除任务
         */
        function delete_task() {
            var task = $("[alt='del']")[0];
            if (!task) {
                alert("请选中需要删除的任务！");
                return;
            }

            if (confirm("是否确认删除选中的任务？")) {
                var tid = task.getAttribute("taskidstr");

                $.get([[${#request.getContextPath()}]] + "/web/task/delete", {"taskid": tid, "taskt":2}, function (data) {
                    if (data > 0) {
                        $("[alt='del']").remove();
                        $("#mp3_list").html("");
                        $("#clients_list").html("");
                    } else {
                        alert("删除失败！");
                    }
                }, "text");


            }
        }


        /**
         * 手动执行
         */
        function action_task() {
            var task = $("[alt='del']")[0];
            if (!task) {
                alert("请选中需要执行的任务！");
                return;
            }

            if (confirm("是否确认执行选中的任务？")) {
                var tid = task.getAttribute("taskidstr");

                $.get([[${#request.getContextPath()}]] + "/web/task/action", {"taskid": tid}, function (data) {
                    if (data) {
                        alert("开始执行！");
                    } else {
                        alert("执行失败！");
                    }
                }, "json");
            }
        }


        /**
         * 手动停止
         */
        function stop_task() {
            var task = $("[alt='del']")[0];
            if (!task) {
                alert("请选中需要停止的任务！");
                return;
            }

            if (confirm("是否确认停止选中的任务？")) {
                var tid = task.getAttribute("taskidstr");

                $.get([[${#request.getContextPath()}]] + "/web/task/stop", {"taskid": tid}, function (data) {
                    if (data) {
                    } else {
                        alert("停止失败！");
                    }
                }, "json");
            }
        }

    </script>

    <!-- 音量选择控件 -->
    <link href="css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <script src="js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>
    <script>
        $("#volume").ionRangeSlider({
            min: 0,
            max: 15,
            from: 0,
            postfix: "",
            prettify: false,
            hasGrid: false
        });


        //开放或者禁用结束时间
        function open_end(flag) {
            if (!flag) {
                $("#endTime").attr("disabled", "disabled");
            } else {
                $("#endTime").removeAttr("disabled");
            }
        }

        //开放或者禁用持续时间
        function open_dur(flag) {
            if (!flag) {
                $("#durtime").attr("disabled", "disabled");
            } else {
                $("#durtime").removeAttr("disabled");
            }
        }

        //任务类型
        function select_type(value, v) {
            if (value != v) {
                $("input[name='week']").attr("disabled", "disabled");
            } else {
                $("input[name='week']").removeAttr("disabled");
            }
        }

    </script>

    <!-- 日期插件 -->
    <link rel="stylesheet"
          th:href="${#request.getContextPath() + '/resources/widget/My97DatePicker/skin/WdatePicker.css'}"
          type="text/css"/>
    <script type="text/javascript"
            th:src="${#request.getContextPath() + '/resources/widget/My97DatePicker/WdatePicker.js'}"></script>


</head>
<body>
<!-- 顶部 -->
<div class="row border-bottom white-bg dashboard-header myheader" style="padding: 10px 10px 10px 10px">


    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="open_Model();">
        <!-- data-toggle="modal" data-target="#myModal2" -->
        <img style="width: 50px; height: 50px; margin-bottom: 5px" src="img/1.png"/><br/>
        新建任务
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="open_update_Model();">
        编辑任务
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="delete_task();">
        删除任务
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="action_task();">
        手动执行
    </button>
    <button class="btn btn-primary dim btn-large-dim" type="button" onclick="stop_task();">
        手动停止
    </button>
</div>
<!-- 工作区 -->
<div class="animated fadeInRight">
    <div class="row">
        <div class="col-lg-12" style="padding: 0px;">
            <div class="ibox float-e-margins">
                <div class="ibox-content  h_1" style="padding: 0px;">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>任务名称</th>
                            <th>任务状态</th>
                            <th>开始时间</th>
                            <th>停止时间</th>
                            <th>循环次数</th>
                            <th>播音员</th>
                           <!-- <th>播放类型</th>
                            <th>任务音量</th>
                            <th>任务进度</th>-->
                        </tr>
                        </thead>
                        <tbody id="task_list">
                        <!-- TODO 任务列表 -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .checkbox-primary {
        float: left;
        margin-left: 10px;
    }

    .my-sroll {
        overflow: scroll;
        overflow-y: auto;
        overflow-x: auto;
    }

</style>

<!-- 弹出框 -->
<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 50%">
        <!-- animated bounceInRight -->
        <!-- animated flipInY -->
        <div class="modal-content animated flipInY">
            <!-- 头部信息 -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">语音合成</h4>
            </div>
            <!-- 内容部分 -->
            <div class="modal-body" style="padding: 0px">
                <div class="row" style="margin: 0px;">
                    <div class="col-lg-12" style="padding: 4px;">
                        <textarea id="info" class="form-control" placeholder="请输入文本信息" style="width: 100%; height: 83px;"></textarea>
                    </div>
                </div>
                <div class="row" style="margin: 0px;">
                    <div class="col-lg-6" style="padding: 4px;">
                        <div class="ibox float-e-margins" style="margin-bottom: 0px">
                            <div class="ibox-content" style="position: relative; height: 500px;">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">任务名称</label>
                                        <div class="col-lg-9">
                                            <input type="text" id="taskname" placeholder="任务名称" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">任务类型</label>
                                        <div class="col-lg-9">
                                            <select id="playOrder" class="select2_demo_1 form-control"
                                                    onclick="select_type(this.value, 2);">
                                                <option value="1">每天任务</option>
                                                <option value="2">每周任务</option>
                                                <option value="3">一次任务</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">开始日期</label>
                                        <div class="col-lg-9">
                                            <input id="startDate" type="text" placeholder="开始日期" class="form-control"
                                                   onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">开始时间</label>
                                        <div class="col-lg-9">
                                            <input id="startTime" type="text" placeholder="开始时间" class="form-control"
                                                   onclick="WdatePicker({dateFmt:'HH:mm'})">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">结束时间</label>
                                        <div class="col-lg-6">
                                            <input id="endTime" type="text" placeholder="结束时间" class="form-control"
                                                   onclick="WdatePicker({dateFmt:'HH:mm'})" disabled="disabled">
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox_end" type="checkbox"
                                                       onclick="open_end(this.checked);">
                                                <label for="checkbox_end">
                                                    开启
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">播报员</label>
                                        <div class="col-lg-9">
                                            <select id="reporter" class="select2_demo_1 form-control">
                                                <option value="1">小燕（中文-女声）</option>
                                                <option value="2">小琪（中文-女声）</option>
                                                <option value="3">小美（粤语-女声）</option>
                                                <option value="4">小文（中文-男声）</option>
                                                <option value="5">henry（英文-男声）</option>
                                                <option value="6">mary（英文-女声）</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">语速</label>
                                        <div class="col-lg-9">
                                            <input type="text" id="speed" placeholder="语速" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">循环次数</label>
                                        <div class="col-lg-9">
                                            <input type="text" id="loopnum" placeholder="循环次数" class="form-control">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" style="padding: 4px">
                        <div class="ibox float-e-margins" style="margin-bottom: 0px">
                            <div class="ibox-content my-sroll" style="height: 340px;">
                                <!-- 分控选择 -->
                                <form role="form" class="form-inline">
                                    <div class="form-group">
                                        <!-- <input type="text" placeholder="任务标识" id="taskname"
                                                class="form-control" style="width: 160px">-->
                                        <span style="width: 160px;">终端选择</span>
                                    </div>
                                    <div class="checkbox m-r-xs">
                                        <input type="checkbox" id="checkbox1" onclick="checkall(this.checked);">
                                        <label for="checkbox1">
                                            全选
                                        </label>
                                    </div>
                                </form>

                                <!-- 树形选择器 -->
                                <div id="ztree_div" class="ztree"
                                     style="height: 430px; overflow:scroll; overflow-y: auto; overflow-x: auto;"></div>
                            </div>
                        </div>
                        <div class="ibox float-e-margins" style="margin-bottom: 0px;">
                            <div class="ibox-content" style="height: 160px;">
                                <form class="form-horizontal">
                                  <!--  <div class="form-group">
                                        <label class="col-lg-3 control-label" style="padding-right: 0px">音量管理</label>
                                        <div class="col-lg-9">
                                            <label class="checkbox-inline"
                                                   style="width: 60%; margin-left: 0px; padding-left: 10px">
                                                <div id="volume"></div>
                                            </label>
                                        </div>
                                    </div>-->
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" style="padding-right: 0px">星期选择</label>
                                        <div class="col-lg-9">
                                            <!-- 星期选择 -->
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox2" name="week" type="checkbox" value="2"
                                                       disabled="disabled">
                                                <label for="checkbox2">
                                                    星期一
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox3" name="week" type="checkbox" value="4"
                                                       disabled="disabled">
                                                <label for="checkbox3">
                                                    星期二
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox4" name="week" type="checkbox" value="8"
                                                       disabled="disabled">
                                                <label for="checkbox4">
                                                    星期三
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox5" name="week" type="checkbox" value="16"
                                                       disabled="disabled">
                                                <label for="checkbox5">
                                                    星期四
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox6" name="week" type="checkbox" value="32"
                                                       disabled="disabled">
                                                <label for="checkbox6">
                                                    星期五
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox7" name="week" type="checkbox" value="64"
                                                       disabled="disabled">
                                                <label for="checkbox7">
                                                    星期六
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox8" name="week" type="checkbox" value="128"
                                                       disabled="disabled">
                                                <label for="checkbox8">
                                                    星期日
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 底部按钮 -->
            <div class="modal-footer">
                <button type="button" id="submitBtn" class="btn btn-primary" onclick="submit_task();">提交</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">

    /**
     * 打开弹出框
     */
    function open_Model() {
        //初始化树形结构
        initClients();
        //显示弹出框
        $("#myModal2").modal('show');

        //设置按钮的点击事件
        $("#submitBtn").attr("onclick", "submit_task();");

    }

    /**
     * 提交任务
     */
    function submit_task() {
        //获得任务名称
        var taskname = $("#taskname").val();
        //获得任务类型
        var playOrder = $("#playOrder").val();
        //获得开始日期
        var startDate = $("#startDate").val();
        //获得开始时间
        var startTime = $("#startTime").val();
        //获得结束时间
        var stopDate = $("#endTime").val();

        //获得播报员
        var reporter = $("#reporter").val();
        //获得速度
        var speed = $("#speed").val();
        //获得循环次数
        var loopnum = $("#loopnum").val();

        //获得文本信息
        var info = $("#info").val();

        //获得星期
        var weekMask = 0;
        $("input[name='week']:checked").each(function () {
            weekMask += parseInt($(this).val());
        });


        //获得被选择的终端
        var znodes = ztreeObj.getCheckedNodes(true);
        var terminal = [];
        A:for (var i = 0; i < znodes.length; i++) {
            if (znodes[i].isClient == 1) {
                for(var j = 0; j < terminal.length; j++){
                    if(terminal[j] == znodes[i].userid){
                        continue A;
                    }
                }
                //如果是终端
                terminal.push(znodes[i].userid);
            }
        }

        // alert("任务名称：" + taskname);
        // alert("循环类型：" + loopType);
        // alert("终端列表：" + JSON.stringify(terminal));
        // alert("上传列表：" + JSON.stringify(files));

        //ajax提交任务
        $.ajax({
            type: "POST",
            url: [[${#request.getContextPath()}]] + '/web/task/insert',
            data: {
                "users": JSON.stringify(terminal),
                "taskname": taskname,
                "taskt": 4,
                "playOrder": playOrder,
                "startDate": startDate,
                "startTime": startTime,
                "stopDate": stopDate,
                "reporter": reporter,
                "weekMask": weekMask,
                "speed": speed,
                "loopnum": loopnum,
                "info": info,
            },
            success: function (data) {
                //发送websocket
                console.log(data);

                var html = "";
                html += "<tr id='tr_task_" + data.id + "' taskid='" + data.id + "' taskidstr='" + data.taskid + "' onclick='trtask(" + data.id + ");'>";
                html += "<td>" + data.taskname + "</td>";
                html += "<td>" + data.status + "</td>";
                html += "<td>" + startDate + "</td>";
                html += "<td>" + stopDate + "</td>";
                html += "<td>" + data.loopnum + "</td>";
                if(data.reporter == 1){
                    html += "<td>小燕 - 中文（女声）</td>";
                } else if(data.reporter == 2){
                    html += "<td>小琪 - 中文（女声）</td>";
                } else if(data.reporter == 3){
                    html += "<td>小美 - 粤语（女声）</td>";
                } else if(data.reporter == 4){
                    html += "<td>小文 - 中文（男声）</td>";
                } else if(data.reporter == 5){
                    html += "<td>henry - 英文（男声）</td>";
                } else if(data.reporter == 6){
                    html += "<td>mary - 英文（女声）</td>";
                }

                html += "</tr>";
                $("#task_list").append(html);

                //关闭弹窗
                $("#myModal2").modal("hide");
            },
            error: function (data) {
                alert("任务添加失败！");
            }
        });
    }

    /**
     * 弹出修改任务的弹出框
     */
    function open_update_Model(){
        var task = $("[alt='del']")[0];
        if(!task){
            alert("请选中需要编辑的任务！");
            return;
        }

        var tid = task.getAttribute("taskidstr");

        //弹出框
        open_Model();

        $.get([[${#request.getContextPath()}]] + "/web/task/queryTask", {"taskid":tid}, function(data){
            if(data){
                //设置默认值
                console.log(JSON.stringify(data));

                var users = data.users;
                var taskname = data.taskname;
                var playOrder = data.playOrder;
                var startDate = data.startDate;
                var startTime = data.startTime;
                var stopDate = data.stopDate;
                var reporter = data.reporter;
                var speed = data.speed;
                var loopnum = data.loopnum;
                var info = data.info;
                var weekMask = data.weekMask;

                //设置默认值
                $("#taskname").val(taskname);
                $("#playOrder").val(playOrder);
                $("#startDate").val(startDate);
                $("#startTime").val(startTime);
                $("#endTime").val(stopDate);
                $("#reporter").val(reporter);
                $("#speed").val(speed);
                $("#loopnum").val(loopnum);
                $("#info").val(info);

                if(stopDate){
                    $("#checkbox_end").attr("checked", true);
                    $("#endTime").removeAttr("disabled");
                } else {
                    $("#checkbox_end").attr("checked", false);
                    $("#endTime").attr("disabled", "disabled");
                }

                if(playOrder == 2){
                    $("input[name='week']").each(function(){
                        $(this).removeAttr("disabled");
                    });
                }


                showUsers(users);

            }
        },"json");

        //设置按钮的点击事件
        $("#submitBtn").attr("onclick", "update_task('" + tid + "');");
    }

    //修改
    function update_task(tid){
        //获得任务名称
        var taskname = $("#taskname").val();
        //获得任务类型
        var playOrder = $("#playOrder").val();
        //获得开始日期
        var startDate = $("#startDate").val();
        //获得开始时间
        var startTime = $("#startTime").val();
        //获得结束时间
        var stopDate = $("#endTime").val();

        //获得播报员
        var reporter = $("#reporter").val();
        //获得速度
        var speed = $("#speed").val();
        //获得循环次数
        var loopnum = $("#loopnum").val();

        //获得文本信息
        var info = $("#info").val();

        //获得星期
        var weekMask = 0;
        $("input[name='week']:checked").each(function () {
            weekMask += parseInt($(this).val());
        });


        //获得被选择的终端
        var znodes = ztreeObj.getCheckedNodes(true);
        var terminal = [];
        A:for (var i = 0; i < znodes.length; i++) {
            if (znodes[i].isClient == 1) {
                for(var j = 0; j < terminal.length; j++){
                    if(terminal[j] == znodes[i].userid){
                        continue A;
                    }
                }
                //如果是终端
                terminal.push(znodes[i].userid);
            }
        }

        // alert("任务名称：" + taskname);
        // alert("循环类型：" + loopType);
        // alert("终端列表：" + JSON.stringify(terminal));
        // alert("上传列表：" + JSON.stringify(files));

        //ajax提交任务
        $.ajax({
            type: "POST",
            url: [[${#request.getContextPath()}]] + '/web/task/update',
            data: {
                "users": JSON.stringify(terminal),
                "taskname": taskname,
                "taskt": 4,
                "playOrder": playOrder,
                "startDate": startDate,
                "startTime": startTime,
                "stopDate": stopDate,
                "reporter": reporter,
                "weekMask": weekMask,
                "speed": speed,
                "loopnum": loopnum,
                "info": info,
                "taskid": tid
            },
            success: function (data) {
                //发送websocket
                console.log(data);

                //移除原来的节点
                $("#tr_task_" + data.id).remove();

                var html = "";
                html += "<tr id='tr_task_" + data.id + "' taskid='" + data.id + "' taskidstr='" + data.taskid + "' onclick='trtask(" + data.id + ");'>";
                html += "<td>" + data.taskname + "</td>";
                html += "<td>" + data.status + "</td>";
                html += "<td>" + startDate + "</td>";
                html += "<td>" + stopDate + "</td>";
                html += "<td>" + data.loopnum + "</td>";
                if(data.reporter == 1){
                    html += "<td>小燕 - 中文（女声）</td>";
                } else if(data.reporter == 2){
                    html += "<td>小琪 - 中文（女声）</td>";
                } else if(data.reporter == 3){
                    html += "<td>小美 - 粤语（女声）</td>";
                } else if(data.reporter == 4){
                    html += "<td>小文 - 中文（男声）</td>";
                } else if(data.reporter == 5){
                    html += "<td>henry - 英文（男声）</td>";
                } else if(data.reporter == 6){
                    html += "<td>mary - 英文（女声）</td>";
                }

                html += "</tr>";
                $("#task_list").append(html);

                //关闭弹窗
                $("#myModal2").modal("hide");
            },
            error: function (data) {
                alert("任务添加失败！");
            }
        });
    }

</script>

</body>
</html>