<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="resources/css/reset.css" type="text/css"
          media="screen" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="resources/css/style.css" type="text/css"
          media="screen" />
    <link rel="stylesheet" href="resources/css/invalid.css" type="text/css"
          media="screen" />

    <!--                       Javascripts                       -->
    <!-- jQuery -->
    <script type="text/javascript"
            src="resources/scripts/jquery-1.3.2.min.js"></script>
    <!-- jQuery Configuration -->
    <script type="text/javascript"
            src="resources/scripts/simpla.jquery.configuration.js"></script>
</head>
<body>
<div id="main-content">
    <div class="content-box">
        <!-- End .content-box-header -->
        <div class="content-box-content">
            <h2>系统日志</h2>
            <!-- 搜索 -->
            <form th:action="${#request.getContextPath() + '/meeting/search'}" method="get">
                日志类型：
                <select name="typeVal">
                    <option option="1">登录</option>
                    <option option="2">注销</option>
                    <option option="3">添加</option>
                    <option option="4">修改</option>
                    <option option="5">删除</option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                操作时间：
                <input class="text-input" name="mintime"/> - <input class="text-input" name="maxtime"/>
                <button type="submit" class="mybutton">搜索</button>
            </form>

            <br/>
            <hr/>
            <br/>

            <div class="tab-content default-tab" id="tab1">
                <table>
                    <thead>
                    <tr>
                        <th><input class="check-all" type="checkbox"/>全选</th>
                        <th>操作类型</th>
                        <th>操作人</th>
                        <th>操作时间</th>
                        <th>备注</th>
                        <th>结果</th>
                        <th>异常</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="syslog : ${systemLogList}">
                        <td><input type="checkbox" th:value="${syslog.id}"/></td>
                        <td th:switch="${syslog.type}">
                            <span th:case="1">登录</span>
                            <span th:case="2">注销</span>
                            <span th:case="3">增加</span>
                            <span th:case="4">修改</span>
                            <span th:case="5">删除</span>
                        </td>
                        <td th:text="${syslog.user}">Lorem ipsum dolor</td>
                        <td th:text="${#dates.format(syslog.time, 'yyyy-MM-dd HH:mm:ss')}"><a href="#" title="title">Sit amet</a></td>
                        <td th:text="${syslog.info}">Consectetur adipiscing</td>
                        <td th:utext="${syslog.flag == 1 ? '<font color=green>成功</font>' : '<font color=red>失败</font>'}">Donec tortor diam</td>
                        <td th:text="${syslog.exception != null ? syslog.exception : '无'}">Consectetur adipiscing</td>
                        <!--<td>
                            &lt;!&ndash; Icons &ndash;&gt; <a href="#" title="Edit"><img
                                src="resources/images/icons/pencil.png" alt="Edit" /></a> <a
                                href="#" title="Delete"><img
                                src="resources/images/icons/cross.png" alt="Delete" /></a> <a
                                href="#" title="Edit Meta"><img
                                src="resources/images/icons/hammer_screwdriver.png"
                                alt="Edit Meta" /></a>
                        </td>-->
                    </tr>
                    </tbody>

                    <!-- 脚部 -->
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <!-- 分页导航 -->
                            <div class="pagination" th:replace="page :: fenye">
                            </div> <!-- End .pagination -->
                            <div class="clear"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- End .content-box-content -->
    </div>
</div>
<!-- End #main-content -->
</body>
</html>